
name: filecoin
x-templates:
  filecoin_service: &filecoin_service
    env_file: .env
    environment:
      - NUM_LOTUS_CLIENTS=2
      - NUM_FOREST_CLIENTS=1
    volumes:
      - ./data/lotus0:${LOTUS_0_DATA_DIR}
      - ./data/forest0:${FOREST_0_DATA_DIR}
      - ./data/lotus1:${LOTUS_1_DATA_DIR}
      - ./shared/configs:${SHARED_CONFIGS}
      - ./data/curio:${CURIO_DATA_DIR}
      - ./data/workload:/opt/antithesis/filwizard/workspace:rw
  needs_drand0_started: &needs_drand0_started
    depends_on:
      drand0:
        condition: service_started
  needs_all_drand_healthy: &needs_all_drand_healthy
    depends_on:
      drand0: 
        condition: service_healthy
      drand1:
        condition: service_healthy
      drand2:
        condition: service_healthy
  needs_lotus0_healthy: &needs_lotus0_healthy
    depends_on:
      lotus0:
        condition: service_healthy
  needs_lotus1_healthy: &needs_lotus1_healthy
    depends_on:
      lotus1:
        condition: service_healthy
  healthcheck_settings: &healthcheck_settings
    interval: 5s
    timeout: 2s
    retries: 10

services:
  drand0:
    <<: [*filecoin_service]
    container_name: drand0
    image: "drand:latest"
    entrypoint: ./start-drand0.sh
    healthcheck:
      <<: *healthcheck_settings
      test: drand util ping http://drand0:8080

  drand1:
    <<: [*filecoin_service, *needs_drand0_started]
    container_name: drand1
    image: "drand:latest"
    entrypoint: ./start-drand1.sh
    healthcheck:
      <<: *healthcheck_settings
      test: drand util ping http://drand1:8080

  drand2:
    <<: [*filecoin_service, *needs_drand0_started]
    container_name: drand2
    image: "drand:latest"
    entrypoint: ./start-drand2.sh
    healthcheck:
      <<: *healthcheck_settings
      test: drand util ping http://drand2:8080

  lotus0:
    <<: [*filecoin_service, *needs_all_drand_healthy]
    container_name: lotus0
    image: "lotus:dynamic"
    entrypoint: ["./scripts/start-lotus.sh", "0"]
    healthcheck:
      <<: *healthcheck_settings
      test: curl --fail http://lotus0:1234/health/livez

  lotus1:
    <<: [*filecoin_service, *needs_lotus0_healthy]
    container_name: lotus1
    image: "lotus:dynamic"
    entrypoint: ["./scripts/start-lotus.sh", "1"]
    healthcheck:
      <<: *healthcheck_settings
      test: curl --fail http://lotus1:1234/health/livez

  lotus-miner0:
    <<: [*filecoin_service, *needs_lotus0_healthy]
    container_name: lotus-miner0
    image: "lotus:dynamic"
    entrypoint: ["./scripts/start-lotus-miner.sh", "0"]

  lotus-miner1:
    <<: [*filecoin_service, *needs_lotus1_healthy]
    container_name: lotus-miner1
    image: "lotus:dynamic"
    entrypoint: ["./scripts/start-lotus-miner.sh", "1"]

  forest0:
    <<: [*filecoin_service, *needs_lotus0_healthy]
    container_name: forest0
    image: "forest:dynamic"
    ports:
      - ${FOREST_0_RPC_PORT}:${FOREST_0_RPC_PORT}
    entrypoint: ["./scripts/start-forest.sh"]
    networks:
      antithesis-net:
        ipv4_address: ${FOREST_0_IP}
    depends_on:
      lotus0: 
        condition: service_healthy
    healthcheck:
      test: curl --fail http://10.20.20.28:2346/livez?verbose
      interval: 5s
      timeout: 2s
      retries: 10
      start_period: 30s


  workload:
    <<: [*filecoin_service]
    image: "workload:latest"
    container_name: workload
    networks:
      antithesis-net:
        ipv4_address: 10.20.20.30
    depends_on:
      lotus1:
        condition: service_healthy
  # Curio service
  # curio:
  #   <<: [*filecoin_service]
  #   container_name: curio
  #   image: "curio:dynamic"
  #   env_file:
  #     - .env
  #   environment:
  #     - CURIO_IP=${CURIO_IP}
  #   ports:
  #     - "443:443"
  #     - "80:80"
  #     - "12300:12300"
  #     - "4701:4701"
  #     - "32100:32100"
  #   entrypoint: ["./scripts/curio-init.sh"]
  #   networks:
  #     antithesis-net:
  #       ipv4_address: ${CURIO_IP}
  #   depends_on:
  #     lotus0:
  #       condition: service_healthy
  #     yugabyte:
  #       condition: service_started
  yugabyte:
    image: yugabytedb/yugabyte:latest
    container_name: yugabyte
    init: true
    command: [ "bin/yugabyted", "start", "--base_dir=/home/yugabyte/yb_data", "--background=false" ]
    ports:
      - "5433:5433"
      - "9042:9042"
      - "15433:15433"
    environment:
      - TINI_SUBREAPER=true
    env_file:
      - .env
    volumes:
      - ./data/yugabyte:/home/yugabyte/yb_data
    networks:
      antithesis-net:
        ipv4_address: ${YUGABYTE_IP}

networks:
  antithesis-net:
    ipam:
      config:
        - subnet: 10.20.20.0/24