name: filecoin
x-templates:
  filecoin_service: &filecoin_service
    env_file: .env
    environment:
      - NUM_LOTUS_CLIENTS=3
      - NUM_FOREST_CLIENTS=2
    volumes:
      - ./data/lotus0:${LOTUS_0_DATA_DIR}
      - ./data/lotus1:${LOTUS_1_DATA_DIR}
      - ./data/lotus2:${LOTUS_2_DATA_DIR}
      - ./data/forest0:${FOREST_0_DATA_DIR}
      - ./data/forest1:${FOREST_1_DATA_DIR}
      - ./shared/configs:${SHARED_CONFIGS}
      - ./data/curio:/var/lib/curio:rw
      - ../curio/start_scripts/curio-init.sh:${CURIO_DATA_DIR}/curio-init.sh
    pull_policy: never
  needs_drand0_started: &needs_drand0_started
    depends_on:
      drand0:
        condition: service_started
  needs_all_drand_healthy: &needs_all_drand_healthy
    depends_on:
      drand0: 
        condition: service_healthy
      drand1:
        condition: service_healthy
      drand2:
        condition: service_healthy
  needs_lotus0_healthy: &needs_lotus0_healthy
    depends_on:
      lotus0:
        condition: service_healthy
  needs_lotus1_healthy: &needs_lotus1_healthy
    depends_on:
      lotus1:
        condition: service_healthy
  healthcheck_settings: &healthcheck_settings
    interval: 5s
    timeout: 2s
    retries: 10

services:
  drand0:
    <<: [*filecoin_service]
    container_name: drand0
    image: drand:latest
    entrypoint: ./start-drand0.sh
    healthcheck:
      <<: *healthcheck_settings
      test: drand util ping http://drand0:8080

  drand1:
    <<: [*filecoin_service, *needs_drand0_started]
    container_name: drand1
    image: drand:latest
    entrypoint: ./start-drand1.sh
    healthcheck:
      <<: *healthcheck_settings
      test: drand util ping http://drand1:8080

  drand2:
    <<: [*filecoin_service, *needs_drand0_started]
    container_name: drand2
    image: drand:latest
    entrypoint: ./start-drand2.sh
    healthcheck:
      <<: *healthcheck_settings
      test: drand util ping http://drand2:8080

  lotus0:
    <<: [*filecoin_service, *needs_all_drand_healthy]
    container_name: lotus0
    image: lotus:latest
    entrypoint: ["./scripts/start-lotus.sh", "0"]
    healthcheck:
      <<: *healthcheck_settings
      test: curl --fail http://lotus0:1234/health/livez

  lotus1:
    <<: [*filecoin_service, *needs_lotus0_healthy]
    image: lotus:latest
    container_name: lotus1
    entrypoint: ["./scripts/start-lotus.sh", "1"]
    healthcheck:
      <<: *healthcheck_settings
      test: curl --fail http://lotus1:1234/health/livez
  
  lotus2:
    <<: [*filecoin_service, *needs_lotus0_healthy]
    image: lotus:latest
    container_name: lotus2
    entrypoint: ["./scripts/start-lotus.sh", "2"]
    healthcheck:
      <<: *healthcheck_settings
      test: curl --fail http://lotus2:1234/health/livez

  lotus-miner0:
    <<: [*filecoin_service, *needs_lotus0_healthy]
    image: lotus:latest
    container_name: lotus-miner0
    entrypoint: ["./scripts/start-lotus-miner.sh", "0"]

  lotus-miner1:
    <<: [*filecoin_service, *needs_lotus1_healthy]
    image: lotus:latest
    container_name: lotus-miner1
    entrypoint: ["./scripts/start-lotus-miner.sh", "1"]

  lotus-miner2:
    <<: [*filecoin_service, *needs_lotus2_healthy]
    image: lotus:latest
    container_name: lotus-miner2
    entrypoint: ["./scripts/start-lotus-miner.sh", "2"]

  forest0:
    <<: [*filecoin_service, *needs_lotus0_healthy]
    image: forest:latest
    container_name: forest0
    entrypoint: ["./scripts/start-forest.sh", "0"]

  forest1:
    <<: [*filecoin_service, *needs_lotus0_healthy]
    image: forest:latest
    container_name: forest1
    entrypoint: ["./scripts/start-forest.sh", "1"]

 # Curio service
  curio:
    <<: [*filecoin_service]
    image: curio:${CURIO_TAG:-latest}
    container_name: curio
    ports:
      - "4433:443"
      - "8080:80"
      - "12300:12300"
      - "4701:4701"
      - "32100:32100"
    entrypoint: ["${CURIO_DATA_DIR}/curio-init.sh"]
    depends_on:
      lotus0:
        condition: service_healthy
      yugabyte:
        condition: service_started
      workload:
        condition: service_started

  #Workload service
  workload:
    <<: [*filecoin_service]
    image: workload:latest
    container_name: workload
    volumes:
      - ./data/lotus0:${LOTUS_0_DATA_DIR}
      - ./data/lotus1:${LOTUS_1_DATA_DIR}
      - ./data/forest0:${FOREST_0_DATA_DIR}
      - ./shared/configs:${SHARED_CONFIGS}
      - ./data/curio:/var/lib/curio:rw
      - ../curio/start_scripts/curio-init.sh:${CURIO_DATA_DIR}/curio-init.sh
      - ./data/lotus0:/root/devgen/lotus0
      - ./data/lotus1:/root/devgen/lotus1
      - ./data/forest:/root/devgen/forest
      - ./data/curio:/root/devgen/curio
    depends_on:
      lotus0:
        condition: service_healthy
        
  # Yugabyte Database Service
  yugabyte:
    <<: [*filecoin_service]
    image: yugabytedb/yugabyte:latest
    container_name: yugabyte
    init: true
    command: [ "bin/yugabyted", "start", "--base_dir=/home/yugabyte/yb_data", "--background=false" ]
    ports:
      - "5433:5433"
      - "9042:9042"
      - "15433:15433"
    environment:
      - TINI_SUBREAPER=true
    volumes:
      - ./data/yugabyte:/home/yugabyte/yb_data