name: Run Antithesis Test

on: 
  schedule:
    - cron: '0 1 * * *'  # 8 PM EST
    - cron: '0 17 * * *' # noon EST
  workflow_dispatch:
    inputs:
      endpoint:
        type: string
        required: true
        default: 'filecoin'
        description: Endpoint to run test (filecoin or filecoin-foc)
      duration:
        type: string
        required: true
        default: '1'
        description: Duration to the test run
      emails:
        type: string
        required: true
        description: Email receipents
      drand:
        type: string
        required: true
        default: 'latest'
        description: The drand image tag used for the test run
      forest:
        type: string
        required: true
        default: 'latest'
        description: The forest image tag used for the test run
      lotus:
        type: string
        required: true
        default: 'latest'
        description: The lotus image tag used for the test run
      curio:
        type: string
        required: true
        default: 'latest'
        description: The curio image tag used for the test run
      workload:
        type: string
        required: true
        default: 'latest'
        description: The workload image tag used for the test run
      config:
        type: string
        required: true
        default: 'latest'
        description: The config image tag used for the test run


jobs:
  manual_run:
    if: github.event_name == 'workflow_dispatch'
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - uses: antithesishq/antithesis-trigger-action@main
        with:
          notebook_name: Endpoint:${{ inputs.endpoint }}
          tenant: cobalt-bunny
          username: filecoin
          password: ${{ secrets.ANTITHESIS_PASSWORD }}
          github_token: ${{ secrets.GH_PAT }}
          images: drand:${{ inputs.drand }};forest:${{ inputs.forest }};lotus:${{ inputs.lotus }};workload:${{ inputs.workload }};curio:${{ inputs.curio }};
          config_image: config:${{ github.event.inputs.config }}
          description: "Manual Test"
          email_recipients: ${{ github.event.inputs.emails }}
          additional_parameters: |-
            custom.duration=${{ github.event.inputs.duration }}

  scheduled_run_a:
    name: "Nightly @ 8 PM EST - Implementors Team"
    if: github.event_name == 'schedule' && github.event.schedule == '0 1 * * *'
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - uses: antithesishq/antithesis-trigger-action@main
        with:
          notebook_name: filecoin
          tenant: cobalt-bunny
          username: filecoin
          password: ${{ secrets.ANTITHESIS_PASSWORD }}
          github_token: ${{ secrets.GH_PAT }}
          images: drand:latest;forest:latest;lotus:latest;workload:latest;curio:latest
          config_image: config:latest
          description: "Scheduled Filecoin Continuous Test: 12 hr nightly run - Implementors Team"
          additional_parameters: |-
            custom.duration=12
            antithesis.source=main
            antithesis.integrations.slack.callback_url=https://hooks.slack.com/services/TEHTVS1L6/B0984KRV33P
            antithesis.integrations.slack.token=${{ secrets.SLACK_TOKEN }}
      
  scheduled_run_b:
    name: "Nightly @ 8 PM EST - FOC Team"
    if: github.event_name == 'schedule' && github.event.schedule == '0 1 * * *'
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - uses: antithesishq/antithesis-trigger-action@main
        with:
          notebook_name: filecoin-foc
          tenant: cobalt-bunny
          username: filecoin
          password: ${{ secrets.ANTITHESIS_PASSWORD }}
          github_token: ${{ secrets.GH_PAT }}
          images: drand:latest;forest:latest;lotus:latest;workload:latest;curio:latest
          config_image: config:latest
          description: "Scheduled Filecoin Continuous Test: 12 hr nightly run - FOC Team"
          additional_parameters: |-
            custom.duration=12
            antithesis.source=main
            antithesis.integrations.slack.callback_url=https://hooks.slack.com/services/TEHTVS1L6/B0984KRV33P
            antithesis.integrations.slack.token=${{ secrets.SLACK_TOKEN }}
      
  scheduled_run_c:
    name: "Noon EST Short Run - Implementors Team"
    if: github.event_name == 'schedule' && github.event.schedule == '0 17 * * *'
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - uses: antithesishq/antithesis-trigger-action@main
        with:
          notebook_name: filecoin
          tenant: cobalt-bunny
          username: filecoin
          password: ${{ secrets.ANTITHESIS_PASSWORD }}
          github_token: ${{ secrets.GH_PAT }}
          images: drand:latest;forest:latest;lotus:latest;workload:latest;curio:latest
          config_image: config:latest
          description: "Scheduled Filecoin Continuous Test: 1.5 hr noon run - Implementors Team"
          additional_parameters: |-
            custom.duration=1.5
            antithesis.source=short
            antithesis.integrations.slack.callback_url=https://hooks.slack.com/services/TEHTVS1L6/B0984KRV33P
            antithesis.integrations.slack.token=${{ secrets.SLACK_TOKEN }}

  scheduled_run_d:
    name: "Noon EST Short Run - FOC Team" 
    if: github.event_name == 'schedule' && github.event.schedule == '0 17 * * *'
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - uses: antithesishq/antithesis-trigger-action@main
        with:
          notebook_name: filecoin-foc
          tenant: cobalt-bunny
          username: filecoin
          password: ${{ secrets.ANTITHESIS_PASSWORD }}
          github_token: ${{ secrets.GH_PAT }}
          images: drand:latest;forest:latest;lotus:latest;workload:latest;curio:latest
          config_image: config:latest
          description: "Scheduled Filecoin Continuous Test: 1.5 hr noon run - FOC Team"
          additional_parameters: |-
            custom.duration=1.5
            antithesis.source=short
            antithesis.integrations.slack.callback_url=https://hooks.slack.com/services/TEHTVS1L6/B0984KRV33P
            antithesis.integrations.slack.token=${{ secrets.SLACK_TOKEN }}